.hw-100{
  height: 100%;
  width: 100%
}
.add-part{
  padding:10px 0 30px 0;
}
.modal-content{
  padding:0 30px;
}

.date-line label{
  color: #dcdee2!important;
}

.a-disabled{
  color:@btn-disable-color;
}
.card-title{
  .left{
    font-size: 14px;
  }
  .right{
    float: right;
    font-weight: 100;
  }
}

.cl::after,
.clear::after {
  content: " ";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.w-60{
  width: 60%;
}
.w-55{
  width: 55%;
}
.w-50{
  width: 50%;
}
.w-45{
  width: 45%;
}
.w-40{
  width: 40%;
}
.w-35{
  width: 35%;
}
.w-25{
  width: 25%;
}
.w-30{
  width: 30%;
}
.w-20{
  width: 20%;
}


.p-l-2 {
  padding-left: 2%;
}
.p-l-3 {
  padding-left: 3%;
}
.p-l-4 {
  padding-left: 4%;
}

.p-l-6 {
  padding-left: 6%;
}
.p-l-8 {
  padding-left: 8%;
}

.p-l-9 {
  padding-left: 9%;
}

.p-l-10 {
  padding-left: 10%;
}

.p-l-12 {
  padding-left: 12%;
}

.p-l-14 {
  padding-left: 14%;
}
.p-l-16 {
  padding-left: 16%;
}
.p-l-18 {
  padding-left: 18%;
}
.p-l-20 {
  padding-left: 20%;
}
.p-l-22 {
  padding-left: 22%;
}
.p-l-24 {
  padding-left: 24%;
}

ul,li{
  list-style: none;
}

.ivu-notice-desc{
  font-size: 14px;
}


div,ul {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: @primary-color;
    background-image: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, .2) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .2) 0, hsla(0, 0%, 100%, .2) 75%, transparent 0, transparent);
  }
}

.ivu-modal-body{
  max-height: 650px;
  overflow: auto;
}

.no-footer-modal{
  .ivu-modal-footer{
    display: none;
  }
}

.po-re{
  position: relative;
}